body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.input-section {
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

input[type="text"],
textarea {
  padding: 10px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  box-sizing: border-box;
}

textarea {
  height: 150px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.output-section {
  position: relative;
}

#copyBtn,
#downloadBtn {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: opacity 0.3s ease;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

#copyBtn {
  background-color: #28a745;
}

#downloadBtn {
  background-color: #007bff;
}

#copyBtn:hover,
#downloadBtn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 10px;
  }

  input[type="text"],
  textarea {
    width: 100%;
    margin-right: 0;
  }
}